CompileFlags:
  CompilationDatabase: build/Debug
  Add:
  - --target=arm-none-eabi
  - >-
    -isystem/home/a476078/.local/share/stm32cube/bundles/gnu-tools-for-stm32/13.3.1+st.9/arm-none-eabi/include
  - >-
    -isystem/home/a476078/.local/share/stm32cube/bundles/gnu-tools-for-stm32/13.3.1+st.9/lib/gcc/arm-none-eabi/13.3.1/include
  - >-
    -isystem/home/a476078/.local/share/stm32cube/bundles/gnu-tools-for-stm32/13.3.1+st.9/lib/gcc/arm-none-eabi/13.3.1/include-fixed
  - -Wno-unknown-warning-option
  - -Wno-unused-command-line-argument
  Remove:
  - -fcyclomatic-complexity
  - -mno-unaligned-access
  - --specs=*
Diagnostics:
  ClangTidy:
    Remove:
    - readability-identifier-length
    - readability-magic-numbers
  Suppress:
  - unused-includes

---

If:
  PathMatch: (Drivers|Middlewares|lvgl|USB_HOST|build)/.*
Diagnostics:
  ClangTidy:
    Remove: '*'
  Suppress: '*'
